.searchResults {
  background-color: #282828;
  color: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  max-width: var(--max-width);
  margin: 0 auto;
}

.tracklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: #333;
}

.track:hover {
  background-color: #444;
}
.track h3 {
  font-size: 1.2em;
  color: #fff;
}

.track p {
  color: #ccc;
}
